<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>829128974354-96sa83s0rvf8ro0gfingnusfp0l8nhu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829128974354-96sa83s0rvf8ro0gfingnusfp0l8nhu1</string>
	<key>API_KEY</key>
	<string>AIzaSyAO82gtmot_25RJ8b2wB_EXaMTsaahju3c</string>
	<key>GCM_SENDER_ID</key>
	<string>829128974354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>812029204.MineNetwork</string>
	<key>PROJECT_ID</key>
	<string>minenetwork-58217</string>
	<key>STORAGE_BUCKET</key>
	<string>minenetwork-58217.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:829128974354:ios:b7bcd01c6caeeb1a</string>
	<key>DATABASE_URL</key>
	<string>https://minenetwork-58217.firebaseio.com</string>
</dict>
</plist>
